In [6]:
import pandas as pd

In [7]:
f1=pd.DataFrame({"Name":["kohli","rohit"], "Run":[100,90]})

In [8]:
f1

    Name  Run
0  kohli  100
1  rohit   90

In [9]:
f1.shape

(2, 2)

In [10]:
type(f1.shape)

tuple

In [ ]:
f1.reshape(1, x)